<% include partials/header %>

<h1><%=campgroud.name %></h1>

<img src="<%= campgroud.image%>">

<p><%= campgroud.description %></p>

<% campground.comments.forEach(function(comment){ %>
   <p> <strong><%= comment.author%></strong> - <%= comment.text%></p>
<% }); %>

<% include partials/footer %>